<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group mb-3">
    <p>
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
        {% for error in form.password.errors %}
        <p style="color: red;"> {{ error }}</p>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label(class_="form-label") }}
        {{ form.password2(class_="form-control") }}
        {% for error in form.password2.errors %}
        <p style="color: red;"> {{ error }}</p>
        {% endfor %}
    </p>

    </div>
    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
</form>
