{% include 'header.html' %}
<div class="password-reset-request-pg">
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
        {% for error in form.email.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
             <p style="color: green;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p>{{ form.submit() }}</p>

<p>Go back <a href="{{ url_for('get_all_posts') }}">home</a>.</p>
</form>
</div>

{% include 'footer.html' %}